*,
*:before,
*:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@font-face {
    font-family: 'BwModelicaSS02-Regular';
    src: url('../fonts/BwModelicaSS02-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BwModelicaSS02-Bold';
    src: url('../fonts/BwModelicaSS02-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BwModelicaSS02-Medium';
    src: url('../fonts/BwModelicaSS02-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelicaSS01-Regular';
    src: url('../fonts/BwModelicaSS01-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BwModelicaSS01-Bold';
    src: url('../fonts/BwModelicaSS01-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BwModelicaSS01-Medium';
    src: url('../fonts/BwModelicaSS01-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    color: #1f3863;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
}
h1, h2, .heading, a, input[type="button"] {
    font-family: 'BwModelicaSS02-Bold';
}
.modelica-SS01 {
    font-family: 'BwModelicaSS02-Regular';
}
.modelica-SS02 {
    font-family: 'BwModelicaSS02-Regular';
}
img {
    max-width: 100%;
    vertical-align: middle;
}

body, h1, h2, p, ul, ol {
    margin: 0px;
    padding: 0px;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-table > .vertical-align {
    display: table-cell;
    height: 100%;
    width: 100%;
}
.display-table > .vertical-align.middle {
    vertical-align: middle;
}
.display-table > .vertical-align.bottom {
    vertical-align: bottom;
}
.mobile-menu {
    display: none;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1080px;
    padding: 0px 15px;
    margin: 0px auto;
}
.clearfix {
    clear: both;
}
.visible-xs {
    display: none;
}
.links a {
    font-size: 16px;
    background: #1f3863;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 25px;
    position: relative;
    
    
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.links a:hover {
    color: #fff;
}
.links a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f15a24;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.links.active a:before {
    background: #fff;
}
.links a:hover:before, .links a:focus:before, .links a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*.links a:before {
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 12px 25px;
    color: #f15a24;
    background: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.links a:hover:before {
    width: calc(100% - 50px);
    background: #fff;
    opacity: 1;
}*/
.links.orange a {
    background: #f15a24;
    color: #fff;
}
.links.orange a:hover, .links.orange a:active, .links.orange a:focus {
    color: #f15a24;
}
.links.orange a:before {
    background: #1f3863;
}
.body {
    margin-top: 90px;
}
.body .section {
    position: relative;
}
.form-field input::-webkit-input-placeholder {
    color: #1f3863 !important;
}
.form-field input::-moz-input-placeholder {
    color: #1f3863 !important;
}
.form-field input::-ms-input-placeholder {
    color: #1f3863 !important;
}
.form-field textarea::-webkit-input-placeholder {
    color: #1f3863 !important;
}
.form-field textarea::-moz-input-placeholder {
    color: #1f3863 !important;
}
.form-field textarea::-ms-input-placeholder {
    color: #1f3863 !important;
}


/*Header starts here*/

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(18, 18, 19, 0.21);
}
.header .logo {
   float: left; 
}
.header .menu-container {
   float: right;
   margin-top: 10px;
}
.header .menu-container .menu-items li {
    float: left;
    list-style-type: none;
}
.header .menu-container .menu-items li + li {
    margin-left: 60px;
}
.header .menu-container .menu-items li a {
   color: #1f3863;
   text-transform: uppercase;
   display: inline-block;
   position: relative;
   font-family: 'BwModelicaSS02-Regular';
}
.header .menu-container .menu-items li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -35px;
  left: 0;
  background-color: #f15a24;
  opacity: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.header .menu-container .menu-items li a:hover:before,
.header .menu-container .menu-items li.active a:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.header .menu-container .menu-items li a:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: auto;
    bottom: -31px;
    left: 50%;
    margin-left: -4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f15a24;
    display: none;
}
.header .menu-container .menu-items li.active a:after {
    display: block;
}

/*Header ends here*/


/*Home page starts here*/

.body.home-page {
    
}
.body .section + .section {
    border-bottom: 2px solid rgba(38, 39, 41, 0.1);
    padding: 100px 0px;
}
.body.home-page .section:nth-child(2) {
    padding-top: 0px;
}
.body .section:last-child {
    border: none;
}
.body.home-page .banner {
    position: relative
}
.body.home-page .banner .image {
    position: relative;
}
.body.home-page .banner .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(31, 56, 99, 0.5);
}
.body.home-page .banner .image img {
    width: 100%;
}
.body.home-page .banner .content {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    max-width: 940px;
    margin-left: -470px;
}
.body.home-page .banner .content .text {
    font-size: 20px;
    color: #fff;
    float: left;
    max-width: 440px;
    line-height: 35px;
    margin: 30px 120px 0px 0px;
    opacity: 0;
    font-family: 'BwModelicaSS01-Medium';
    letter-spacing: 1px;
}
.body.home-page .banner .content .vector-object {
    float: left;
    opacity: 0;
}
.body.home-page .banner .content .text .links {
    margin-top: 30px;
}
.body.home-page .banner .content .text .links a {
    font-size: 18px;
    text-transform: none;
    font-family: 'BwModelicaSS01-Medium';
}
.body.home-page .banner .content .text .links a:before {
    background: #fff;
}
.body.home-page .banner .content .text .links a + a {
    margin-left: 15px;
}
.body.home-page .insights .subscriber {
    float: left;
    width: calc(100% - 30px);
    padding-left: 30px;
    margin: 60px 0px 100px 0px;
    opacity: 0;
}
.body.home-page .insights .subscriber .heading {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 30px;
    margin: 8px 50px 0px 0px;
    width: 170px;
    letter-spacing: 1px;
}
.body.home-page .insights .subscriber .form {
    width: calc(100% - 220px);
    float: left;
}
.body.home-page .insights .subscriber .form .form-field {
    float: left;
    width: calc(100% - 231px);
}
.body.home-page .insights .subscriber .form .form-field .input-field {
    width: 100%;
    padding: 19px 0px 19px 25px;
    border: 1px solid #1f3863;
    font-size: 16px;
    color: #1f3863;
    font-family: 'BwModelicaSS01-Regular';
}
.body.home-page .insights .subscriber .form .submit {
    position: relative;
    float: right;
}
.body.home-page .insights .subscriber .form .success {
    margin-top: 10px;
}
.body.home-page .insights .subscriber .form .submit .links a {
    font-size: 16px;
    background: #1f3863;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 20px 40px;
    cursor: pointer;
}
.body.home-page .insights .subscriber .form .submit .links a:before {
    background: #f15a24;
}
.body.home-page .insights .subscriber .form .submit .loader {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 37%;
    display: none;
}
.body.home-page .insights .subscriber .form .submit a {
/*    font-size: 16px;
    background: #1f3863;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 20px 40px;
    cursor: pointer;
    
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;*/
}
/*.body.home-page .insights .subscriber .form .submit .subscribe-button:hover {
    color: #fff;
    background: #f15a24;
}*/

.body.home-page .insights .insights-listing {
    
}
.body.home-page .insights .insights-listing .each-row {
    border-bottom: 2px solid #fcd8cb;
    padding: 0px 30px;
}
.body.home-page .insights .insights-listing .each-row .image {
    position: relative;
}
.body.home-page .insights .insights-listing .each-row .image .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(31, 56, 99, 0.6);
}
.body.home-page .insights .insights-listing .each-row a {
    font-size: 13px;
    color: #1f3863;
    z-index: 1;
    font-family: 'BwModelicaSS01-Regular';
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -ms-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
}
.body.home-page .insights .insights-listing .each-row.content-section:hover a {
    color: #fff;
}
.body.home-page .insights .insights-listing .each-row .column {
    float: left;
    z-index: 1;
    position: relative;
}
.body.home-page .insights .insights-listing .each-row .insights.column {
    width: 60%;
}
.body.home-page .insights .insights-listing .each-row .authors.column {
    width: 23%;
}
.body.home-page .insights .insights-listing .each-row .tags.column {
    width: 17%;
}
.body.home-page .insights .insights-listing .each-row.header-section {
    padding: 0px 0px 20px 30px;
    opacity: 0;
}
.body.home-page .insights .insights-listing .each-row.header-section .heading {
    font-size: 18px;
    text-transform: uppercase;
}
.body.home-page .insights .insights-listing .each-row.content-section {
    padding: 20px 0px 40px 30px;
    position: relative;
    opacity: 0;
    cursor: pointer;
}
.body.home-page .insights .insights-listing .each-row.content-section .image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;
    opacity: 0;
}
.body.home-page .insights .insights-listing .each-row.content-section .image img {
    width: 100%;
}
.body.home-page .insights .insights-listing .each-row.content-section:hover .image {
    opacity: 1;
}
.body.home-page .insights .insights-listing .each-row.content-section .heading {
    margin-bottom: 20px;
}
.body.home-page .insights .insights-listing .each-row.content-section .text {
    padding-right: 70px;
}
.body.home-page .insights .insights-listing .each-row.content-section .text .featured-image {
    display: none;
}
.body.home-page .insights .insights-listing .each-row.content-section .text a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.body.home-page .insights .insights-listing .each-row.content-section .heading a {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'BwModelicaSS02-Medium';
}
.body.home-page .insights .insights-listing .each-row.content-section .each-insights.first.column .text {
    padding-right: 20px;
    font-family: 'BwModelicaSS02-Regular';
}
.body.home-page .insights .insights-listing .each-row.content-section .each-insights.column .author-name a {
    font-size: 16px;
    font-family: 'BwModelicaSS01-Medium'
}
.body.home-page .insights .insights-listing .each-row.content-section .each-insights.column .each-tag {
    float: left;
    margin-right: 10px;
    line-height: 30px;
}
.body.home-page .insights .insights-listing .each-row.content-section .each-insights.column .each-tag a {
    font-family: 'BwModelicaSS01-Regular';
    font-size: 13px;
    text-decoration: underline;
}
.body.home-page .insights .know-more {
    text-align: center;
    margin-top: 70px;
    opacity: 0;
}
.body.home-page .insights .know-more a {
    background: #1f3863;
    color: #fff;
    text-transform: uppercase;
}
.body.home-page .about-us .content-container {
    padding: 0px 50px;
}
.body.home-page .about-us .content-container .each-content {
    width: 45%;
    float: left;
    opacity: 0;
}
.body.home-page .about-us .content-container .each-content + .each-content {
    border-left: 1px solid #f15a24;
    margin-left: 4%;
    padding-left: 5%;
}
.body.home-page .about-us .content-container .each-content .heading {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}
.body.home-page .about-us .content-container .each-content .text {
    margin: 30px 0px;
}
.body.home-page .about-us .content-container .each-content .text a {
    color: #f15a24;
}
.body.home-page .about-us .content-container .each-content .image {
    text-align: center;
}
.body.home-page .about-us .content-container .each-link {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 70px;
    opacity: 0;
}
.body.home-page .about-us .content-container .each-link + .each-link {
    margin-left: calc(5% - 1px);
    padding-left: 5%;
}
.body.home-page .about-us .content-container .each-link a {
    background: #1f3863;
    color: #fff;
    text-transform: uppercase;
}
.body.home-page .our-talent .description-container {
    width: 30%;
    float: left;
}
.body.home-page .our-talent .team-members-container {
    width: 68.5%;
    float: left;
    margin-left: 1.5%;
}
.body.home-page .our-talent .team-members-container .first-row {
    margin-left: 115px;
}
.body.home-page .our-talent .description-container .heading {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid #f15a24;
    display: inline-block;
    opacity: 0;
}
.body.home-page .our-talent .description-container .text {
    margin: 20px 0px;
    opacity: 0;
}
.body.home-page .our-talent .description-container .links a {
    display: inline-block;
    position: relative;
    webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
}
/*.body.home-page .our-talent .description-container .links a.talk-to-us:before {
    content: 'TALK TO US';
}
.body.home-page .our-talent .description-container .links a.join-our-team:before {
    content: 'JOIN OUR TEAM';
}
.body.home-page .our-talent .description-container .links a.about-us:before {
    content: 'ABOUT US';
}*/
.body.home-page .our-talent .description-container .links a + a {
    margin-top: 15px;
}
.body.home-page .our-talent .team-members-container .first-row, .body.home-page .our-talent .team-members-container .second-row {
    margin-bottom: 50px;
}
.body.home-page .our-talent .team-members-container .each-member-container {
    float: left;
    position: relative;
}
.body.home-page .our-talent .team-members-container .each-member-container .linkedin {
    font-size: 24px;
    position: absolute;
    left: 64%;
    top: auto;
    bottom: 0px;
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    border-top: 41px solid #f15a24;
    transform: rotate(-45deg) translateY(10px);
    display: none;
}
.body.home-page .our-talent .team-members-container .each-member-container .linkedin i {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: -36px;
    left: -8px;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member {
    float: left;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member, .body.home-page .our-talent .team-members-container .each-member-container .each-team-member .image {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 170px;
    height: 170px;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member {
    transform: rotate(45deg) translateY(10px);
    margin-right: 67px;
    border: 4px solid transparent;
    opacity: 0;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member:hover {
    border: 4px solid #f15a24;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member:hover .linkedin, .body.home-page .our-talent .team-members-container .each-member-container .each-team-member .linkedin:hover {
    display: block;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member .image {
    width: 250px;
    height: 250px;
    transform: rotate(-45deg) translateY(-55px);
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member .image img {
    width: 100%;
    height: auto;
}
.body.home-page .our-talent .team-members-container .each-member-container .each-team-member .image img {
    text-align: center;
}
.body.home-page .our-talent .team-members-container .each-member {
    position: relative;
    float: left;
}
.body.home-page .our-talent .team-members-container .team-member-description {
    position: relative;
}
.body.home-page .our-talent .team-members-container .team-member-description .description {
    display: none;
    position: absolute;
    top: 10px;
    width: 40%;
    float: left;
    
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
.body.home-page .our-talent .team-members-container .team-member-description .description .name {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'BwModelicaSS02-Bold';
}
.body.home-page .our-talent .team-members-container .team-member-description .description .designation {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
.body.home-page .our-talent .team-members-container .team-member-description .description.first {
    left: 7.5%;
    top: -225px;
}
.body.home-page .our-talent .team-members-container .team-member-description .description.second {
    left: 40.5%;
    top: -225px;
}
.body.home-page .our-talent .team-members-container .team-member-description .description.third {
    left: -9%;
}
.body.home-page .our-talent .team-members-container .team-member-description .description.fourth {
    left: 24%;
}
.body.home-page .our-talent .team-members-container .team-member-description .description.fifth {
    left: 57%;
}

/*Home page ends here*/


/*About page starts here*/

.body.about-page {
    
}
.body.about-page .banner .image {
    position: relative;
}
.body.about-page .banner .image img {
    width: 100%;
}
.body.about-page .banner .content {
    position: absolute;
    top: auto;
    bottom: 30px;
}
.body.about-page .banner .content .links {
    text-align: center;
}
.body.about-page .banner .content .links a {
    font-family: 'BwModelicaSS01-Bold';
    text-transform: none;
}
.body.about-page .banner .content .text {
    font-size: 20px;
    font-family: 'BwModelicaSS01-Medium';
    line-height: 30px;
    margin-top: 30px;
}
.body.about-page .introduction {
    
}
.body.about-page .introduction .content .text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.body.about-page .introduction .content .text + .text {
    margin-top: 20px;
}
.body.about-page .introduction .content .text ul {
    padding-left: 20px;
}
.body.about-page .introduction .content .text ul li {
    font-family: 'BwModelicaSS01-Regular';
}
.body.about-page .introduction .content .text span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    font-family: 'BwModelicaSS01-Bold';
}
.body.about-page .skills .container> .heading {
    position: relative;
    max-width: 170px;
    left: 50%;
    margin-left: -85px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 60px;
}
.body.about-page .skills .content {
    margin-right: 6%;
}
.body.about-page .skills .content {
    float: left;
    width: 55%;
}
.body.about-page .skills .listing {
    float: left;
    width: 38%;
}
.body.about-page .skills .content> .heading {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline;
    background: #1f3863;
    color: #fff;
    padding: 8px 15px;
}
.body.about-page .skills .content> .heading.vertical {
    font-size: 18px;
    transform: rotate(270deg) translateY(-245px);
    margin-top: 0px;
    display: inline-block;
    position: relative;
    top: 136px;
}
.body.about-page .skills .content .text {
    float: right;
    position: relative;
    top: -40px;
    left: 0px;
    max-width: 300px;
}
.body.about-page .skills .content .text p + p {
    margin-top: 20px;
}
.body.about-page .skills .content .text> .heading {
    font-size: 18px;
    margin-bottom: 20px;
}
.body.about-page .skills .content .text p {
    font-size: 14px;
    line-height: 25px;
}
.body.about-page .skills .content .text p + p {
    margin-top: 20px;
}
.body.about-page .skills .content .links {
    margin-top: 30px;
}
.body.about-page .skills .listing ul li {
    list-style-type: none;
    border-bottom: 1px solid #f15a24;
}
.body.about-page .skills .listing ul li + li {
    margin-top: 30px;
}
.body.about-page .skills .listing ul li .head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.body.about-page .skills .listing ul li .head:after {
    content: "";
    border: solid #f15a24;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    opacity: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.body.about-page .skills .listing ul li:hover .head:after {
    opacity: 1;
}
.body.about-page .skills .listing ul li .text {
    font-size: 12px;
    padding-bottom: 5px;
    opacity: 0;
}
.body.about-page .skills .listing ul li:hover .text {
    opacity: 1;
}
.body.about-page .modes-of-management {
    padding: 0px 0px 100px 0px;
}
.body.about-page .modes-of-management .container> .heading {
    position: relative;
    max-width: 345px;
    left: 50%;
    margin-left: -172px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 40px;
}
.body.about-page .modes-of-management .container> .text {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 0px 30px;
    margin: 60px 0px 40px 0px;
}
.body.about-page .modes-of-management .each-mode {
    float: left;
    width: calc(23% - 20px);
    padding: 0px 10px;
}
.body.about-page .modes-of-management .each-mode + .each-mode {
    border-left: 1px solid #f15a24;
}
.body.about-page .modes-of-management .each-mode .heading {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;
    height: 40px;
}
.body.about-page .modes-of-management .each-mode .icon {
    text-align: center;
    height: 80px;
}
.body.about-page .modes-of-management .each-mode .icon img {
    width: 80px;
}
.body.about-page .modes-of-management .links {
    text-align: center;
    margin-top: 60px;
}
.body.about-page .modes-of-management .team-container .container> .text {
    text-align: center;
}
.body.about-page .modes-of-management .team-container {
    margin-top: 140px;
}
.body.about-page .modes-of-management .team-container .heading {
    max-width: 225px;
    margin-left: -125px;
}
.body.about-page .modes-of-management .team-container .text {
    font-size: 13px;
    font-weight: 400;
    margin: 40px 0px 0px 0px;
}
.body.about-page .modes-of-management .team-container .form .form-field {
    float: left;
    width: calc(100% - 236px);
}
.body.about-page .modes-of-management .team-container .form .form-field textarea {
    width: 100%;
    height: 18px;
    color: #f15a24;
    padding: 16px 0px 20px 25px;
    border: 1px solid #f15a24;
    font-size: 16px;
    overflow: hidden;
    font-family: 'BwModelicaSS01-Regular';
}
.body.about-page .modes-of-management .team-container .form .form-field .error-msg, .body.about-page .modes-of-management .team-container .success {
    color: #f15a24;
}
.body.about-page .modes-of-management .team-container .form .submit {
    
}
.body.about-page .modes-of-management .team-container .form .submit .links {
    margin-top: 40px;
}
.body.about-page .modes-of-management .team-container .form .submit .links a {
    font-size: 16px;
    background: #f15a24;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 18px 40px;
    cursor: pointer;
}
.body.about-page .modes-of-management .team-container .form .submit .links a:before {
    background: #1f3863;
}
.body.about-page .modes-of-management .team-container .form .submit .loader {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 9%;
    display: none;
}
.body.about-page .modes-of-management .team-container .form textarea::-webkit-input-placeholder {
    color: #f15a24 !important;
    font-family: 'BwModelicaSS01-Bold';
}
.body.about-page .modes-of-management .team-container .form textarea::-moz-input-placeholder {
    color: #f15a24 !important;
    font-family: 'BwModelicaSS01-Bold';
}
.body.about-page .modes-of-management .team-container .form textarea::-ms-input-placeholder {
    color: #f15a24 !important;
    font-family: 'BwModelicaSS01-Bold';
}
.body.about-page .modes-of-management .team-container .team {
    margin-top: 80px;
}
.body.about-page .modes-of-management .team-container .team .name {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member {
    width: 25%;
    float: left;
    position: relative;
    margin-bottom: 100px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .image {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -ms-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
}
.body.about-page .modes-of-management .team-container .team .each-team-member:hover .image {
    height: 330px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member + .each-team-member {
    margin-left: 12.5%;
}
.body.about-page .modes-of-management .team-container .team .each-team-member:nth-child(3n + 1) {
    margin-left: 0px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .description {
    position: absolute;
    top: 0px;
    width: 355px;
    height: 270px;
    background: #1f3863;
    color: #fff;
    padding: 30px 25px;
    opacity: 0;
    z-index: 1;
}
.body.about-page .modes-of-management .team-container .team .each-team-member.right .description {
    left: 270px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member.left .description {
    right: 270px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member:hover .description {
    opacity: 1;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .description .name {
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .description .name span {
    display: block;
}
.body.about-page .modes-of-management .team-container .team .each-team-member:hover> .name {
    display: none;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .description .linkedin {
    float: left;
    margin-top: 20px;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .description .linkedin a {
    font-size: 28px;
    color: #fff;
}
.body.about-page .modes-of-management .team-container .team .each-team-member .description .text {
    margin-top: 20px;
}


/*About page ends here*/


/*Business Areas page starts here*/

.body.business-areas-page {
    
}
.body.business-areas-page .banner .image {
    position: relative;
}
.body.business-areas-page .banner .image img {
    width: 100%;
}
.body.business-areas-page .banner .content {
    position: absolute;
    top: auto;
    bottom: 30px;
}
.body.business-areas-page .banner .content .text {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: 'BwModelicaSS01-Regular';
}
.body.business-areas-page .banner .content .links {
    text-align: center;
}
.body.business-areas-page .banner .content .links a {
    font-family: 'BwModelicaSS01-Bold';
    text-transform: none;
}
.body.business-areas-page .modes-of-management {
    padding: 70px 0px 100px 0px;
}
.body.business-areas-page .modes-of-management .introduction-text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 80px;
}
.body.business-areas-page .modes-of-management .container> .heading {
    position: relative;
    max-width: 282px;
    left: 50%;
    margin-left: -141px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    text-align: center;
}
.body.business-areas-page .modes-of-management .container> .text {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 0px 30px;
    margin: 40px 0px;
}
.body.business-areas-page .modes-of-management .each-mode {
    float: left;
    width: 22%;
    height: 660px;
    padding: 15px;
}
.body.business-areas-page .modes-of-management .each-mode p {
    margin-bottom: 10px;
    font-size: 12px;
}
.body.business-areas-page .modes-of-management .each-mode ul {
    padding-left: 20px;
}
.body.business-areas-page .modes-of-management .each-mode ul li {
    font-size: 12px;
}
.body.business-areas-page .modes-of-management .each-mode ul li + li {
    margin-top: 10px;
}
.body.business-areas-page .modes-of-management .each-mode + .each-mode {
    border-left: 1px solid #f15a24;
}
.body.business-areas-page .modes-of-management .each-mode .heading {
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0px;
    height: 40px;
}
.body.business-areas-page .modes-of-management .each-mode .heading img {
    margin-right: 10px;
    float: left;  
}
.body.business-areas-page .modes-of-management .each-mode .icon {
    text-align: center;
    float: left;
    width: 15%;
    margin-right: 5%;
}
    
.body.business-areas-page .modes-of-management .each-mode .text {
    float: left;
    width: 80%;
}
.body.business-areas-page .modes-of-management .links {
    text-align: center;
    margin-top: 80px;
}
.body.business-areas-page .modes-of-management .listing {
    margin-top: 80px;
    text-transform: uppercase;
    font-family: 'BwModelicaSS02-Bold';
    padding: 0px 80px;
}
.body.business-areas-page .modes-of-management .listing .heading {
    font-size: 20px;
    max-width: 170px;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    margin-bottom: 70px;
}
.body.business-areas-page .modes-of-management .listing .industries,
.body.business-areas-page .modes-of-management .listing .functions {
    float: left;
    width: 30%;
}
.body.business-areas-page .modes-of-management .listing .industries {
    padding-right: 20%;
    border-right: 1px solid #f15a24;
}
.body.business-areas-page .modes-of-management .listing .functions {
    padding-left: calc(20% - 1px);
}
.body.business-areas-page .modes-of-management .listing ul li {
    list-style-type: none;
}
.body.business-areas-page .modes-of-management .listing ul li .icon, .body.business-areas-page .modes-of-management .listing ul li .text {
    float: left;
}
.body.business-areas-page .modes-of-management .listing ul li .icon {
    width: 25%;
}
.body.business-areas-page .modes-of-management .listing ul li .text {
    width: 73%;
    margin-left: 2%;
}
.body.business-areas-page .modes-of-management .listing ul li .text {
    height: 40px;
}
.body.business-areas-page .modes-of-management .listing ul li img {
    float: left;
    margin-right: 15px;
}
.body.business-areas-page .modes-of-management .listing ul li + li {
    margin-top: 50px;
}


.body.business-areas-page .section {
    border: none;
}
.body.business-areas-page .applications {
    padding: 100px 0px 0px 0px;
}
.body.business-areas-page .applications .container> .heading {
    position: relative;
    max-width: 220px;
    left: 50%;
    margin-left: -110px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 40px;
}
.body.business-areas-page .applications .container> .text {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 0px 30px;
    margin: 60px 0px 40px 0px;
}
.body.business-areas-page .applications .each-mode {
    float: left;
    width: calc(24% - 20px);
    padding: 0px 10px;
    height: 440px;
}
.body.business-areas-page .applications .each-mode + .each-mode {
    border-left: 1px solid #f15a24;
}
.body.business-areas-page .applications .each-mode> .heading {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;
    height: 40px;
    border: none;
    padding-bottom: 0px;
    display: block;
}
.body.business-areas-page .applications .each-mode .icon {
    text-align: center;
    height: 100px;
}
.body.business-areas-page .applications .each-mode ul {
    padding-left: 20px;
}
.body.business-areas-page .applications .each-mode ul li + li {
    margin-top: 10px;
}
.body.business-areas-page .applications .links {
    text-align: center;
    margin-top: 60px;
}

/*Business Areas page ends here*/


/*Capabilities page starts here*/

.body.capabilities-page .section {
    border: none;
}
.body.capabilities-page .heading {
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.body.capabilities-page .introduction {
    padding: 100px 0px;
}
.body.capabilities-page .introduction .image {
    text-align: center;
    width: 60%;
    float: left;
}
.body.capabilities-page .introduction .text {
    font-size: 18px;
    font-family: 'BwModelicaSS01-Regular';
    line-height: 30px;
    width: 35%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.body.capabilities-page .benefits {
    padding-top: 0px;
}
.body.capabilities-page .benefits> .heading {
    font-size: 20px;
    left: 50%;
    max-width: 110px;
    margin-left: -55px;
    position: relative;
}
.body.capabilities-page .benefits .each-row {
    width: calc(50% - 51px);
    float: left;
    padding: 30px 0px;
}
.body.capabilities-page .benefits .each-row.tangible-benefits {
    padding-right: 50px;
}
.body.capabilities-page .benefits .each-row.intangible-benefits {
    padding-left: 50px;
}
.body.capabilities-page .benefits .each-row + .each-row {
    border-left: 1px solid #f15a24;
}
.body.capabilities-page .benefits .each-row .text {
}
.body.capabilities-page .benefits .each-row .text .heading {
    margin-bottom: 0px;
}
.body.capabilities-page .benefits .each-row .text p {
    margin-top: 10px;
}
.body.capabilities-page .benefits .each-row .benefits-container .each-column {
    margin-top: 80px;
}
.body.capabilities-page .benefits .each-row .benefits-container .each-column.half-width {
    float: left;
    width: 50%;
    text-align: center;
}
/*.body.capabilities-page .benefits .each-row.intangible-benefits .benefits-container .each-column {
    width: 19%;
}*/
.body.capabilities-page .benefits .each-row .benefits-container .each-column .image {
    text-align: center;
    height: 80px;
}
.body.capabilities-page .head {
    font-family: 'BwModelicaSS02-Bold';
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0px 10px 0px;
}
.body.capabilities-page .benefits .each-row .benefits-container .each-column + .each-column {
    /*border-left: 1px solid #f15a24;*/
}

.body.capabilities-page .modes-of-management {
    padding: 0px 0px 100px 0px;
}
.body.capabilities-page .modes-of-management .container> .heading {
    position: relative;
    max-width: 300px;
    left: 50%;
    margin-left: -150px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #f15a24;
    padding-bottom: 10px;
    text-align: center;
}
.body.capabilities-page .modes-of-management .container> .text {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 0px 30px;
    margin: 40px 0px;
}
.body.capabilities-page .modes-of-management .each-mode {
    float: left;
    width: 22%;
    height: 660px;
    padding: 15px;
}
.body.capabilities-page .modes-of-management .each-mode p {
    margin-bottom: 10px;
    font-size: 12px;
}
.body.capabilities-page .modes-of-management .each-mode ul {
    padding-left: 20px;
}
.body.capabilities-page .modes-of-management .each-mode ul li {
    font-size: 12px;
}
.body.capabilities-page .modes-of-management .each-mode ul li + li {
    margin-top: 10px;
}
.body.capabilities-page .modes-of-management .each-mode + .each-mode {
    border-left: 1px solid #f15a24;
}
.body.capabilities-page .modes-of-management .each-mode .heading {
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0px;
    height: 40px;
    border: none;
    padding-bottom: 0px;
    display: block;
}
.body.capabilities-page .modes-of-management .each-mode .heading img {
    margin-right: 10px;
    float: left;  
}
.body.capabilities-page .modes-of-management .each-mode .icon {
    text-align: center;
    float: left;
    width: 15%;
    margin-right: 5%;
}
    
.body.capabilities-page .modes-of-management .each-mode .text {
    float: left;
    width: 80%;
}
.body.capabilities-page .modes-of-management .links {
    text-align: center;
    margin-top: 60px;
}

.body.capabilities-page .engagement-lifecycle {
    padding: 0px 100px 100px 100px;
}
.body.capabilities-page .engagement-lifecycle> .heading {
    position: relative;
    max-width: 260px;
    left: 50%;
    margin: 0px 0px 60px -130px;
}
.body.capabilities-page .engagement-lifecycle .content-container .each-column {
    width: 31%;
    float: left;
    padding: 0px 10px;
}
.body.capabilities-page .engagement-lifecycle .content-container .each-column.first {
    margin-top: 110px;
}
.body.capabilities-page .engagement-lifecycle .content-container .each-column .content + .content {
    margin-top: 50px;
}
.body.capabilities-page .engagement-lifecycle .content-container .each-column .content> .heading {
    margin-bottom: 10px;
    color: #000;
}
.body.capabilities-page .engagement-lifecycle .content-container .each-column .content> .sub-head {
    font-family: 'BwModelicaSS01-Bold';
}
.body.capabilities-page .engagement-lifecycle .content-container .each-column .content .text {
    padding-right: 20px;
}
.body.capabilities-page .links {
    text-align: center;
    margin-top: 50px;
}
.body.capabilities-page .applications> .heading {
    position: relative;
    max-width: 150px;
    left: 50%;
    margin-left: -75px;
}
.body.capabilities-page .applications> .text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 0px 180px;
    font-family: 'BwModelicaSS01-Regular';
}
.body.capabilities-page .applications .text p + p {
    margin-top: 20px;
}
.body.capabilities-page .applications .each-row {
    margin-top: 30px;
}
.body.capabilities-page .applications .each-row .each-column {
    float: left;
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}
.body.capabilities-page .applications .each-row.second .each-column {
    width: 50%;
}
.body.capabilities-page .applications .each-row .each-column .image {
    text-align: center;
    height: 100px;
}
.body.capabilities-page .applications .each-row .each-column .text {
    padding: 0px 20px;
}
.body.capabilities-page .applications .each-row .each-column .text ul {
    padding-left: 20px;
}
.body.capabilities-page .applications .each-row .each-column .text ul li {
    font-size: 13px;
}

/*Capabilities page ends here*/


/*Insights page starts here*/

.insights-page {
    padding: 50px 0px;
}
.insights-page .search-box .form-field {
    
}
.insights-page .search-box .form-field .search-icon {
    position: absolute;
    top: 5px;
    left: 44%;
    width: 20px;
}
.insights-page .search-box .form-field .input-field {
    width: 100%;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #f15a24;
    text-align: center;
    padding-bottom: 5px;
    text-transform: none;
    color: #1f3863;
    font-family: 'BwModelicaSS01-Regular';
}
.insights-page .search-box .form-field .input-field::-webkit-input-placeholder {
    color: #1f3863 !important;
    font-family: 'BwModelicaSS01-Regular' !important;
}
.insights-page .search-box .form-field .input-field::-moz-input-placeholder {
    color: #1f3863 !important;
    font-family: 'BwModelicaSS01-Regular' !important;
}
.insights-page .search-box .form-field .input-field::-ms-input-placeholder {
    color: #1f3863 !important;
    font-family: 'BwModelicaSS01-Regular' !important;
}
.insights-page .subscribe {
    margin: -10px 0px 80px 1px;
}
.insights-page .subscribe .form {
    width: 100%;
}
.insights-page .subscribe .form .form-field {
    float: left;
    width: calc(100% - 195px);
}
.insights-page .subscribe .form .form-field .input-field {
    width: 100%;
    padding: 12px 0px 12px 25px;
    border: 1px solid #1f3863;
    font-size: 15px;
}
.insights-page .subscribe .form .submit {
    position: relative;
    float: right;
}
.insights-page .subscribe .form .submit .links a {
    font-size: 16px;
    background: #1f3863;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 12px 35px;
    cursor: pointer;
}
.insights-page .subscribe .form .submit .links a:before {
    background: #f15a24;
}
.insights-page .subscribe .form .submit .loader {
    position: absolute;
    top: auto;
    bottom: -2px;
    right: 32%;
    display: none;
}
.insights-page .subscribe .success {
    margin-top: 10px;
}
.insights-page .insights .each-insight-container + .each-insight-container {
    margin-top: 50px;
}
.insights-page .insights .each-insight {
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.insights-page .insights .each-insight .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(31, 56, 99, 0.6);
    z-index: 1;
}
.insights-page .insights .each-insight-container.active {
    display: block;
}
.insights-page .insights .each-insight-container.inactive {
    display: none;
}
.insights-page .insights .each-insight:hover {
    height: 250px;
}
.insights-page .insights .each-insight .image {
    position: relative;
}
.insights-page .insights .each-insight .image img {
    width: 100%;
}
.insights-page .insights .each-insight .content {
    padding-left: 90px;
    letter-spacing: 1px;
}
.insights-page .insights .each-insight .content a {
    color: #fff;
    font-family: 'BwModelicaSS01-Regular';
}
.insights-page .insights .each-insight .content .text-container {
    position: absolute;
    top: 20px;
    z-index: 9;
}
.insights-page .insights .each-insight .content .text-container .heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: none;
}
.insights-page .insights .each-insight:hover .content .text-container {
    top: 20px;
}
.insights-page .insights .each-insight:hover .content .text-container .heading {
    max-width: 500px;
    text-transform: none;
    line-height: 25px;
}
.insights-page .insights .each-insight .content .text-container .insights-excerpt {
    font-size: 12px;
    color: #fff;
    max-width: 500px;
    opacity: 0;
    pointer-events: none;
}
.insights-page .insights .each-insight:hover .content .insights-excerpt {
    opacity: 1;
}
/*.insights-page .insights .each-insight:hover .content .heading a {
    font-size: 16px;
    font-family: 'BwModelicaSS01-Medium';
    line-height: 25px;
}*/
.insights-page .insights .each-insight .content .tags {
    float: left;
    width: 25%;
    position: absolute;
    top: auto;
    bottom: 20px;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
    text-decoration: underline;
    line-height: 25px;
    display: block;
    float: left;
    color: #fff;    
    z-index: 10;
}
.insights-page .insights .each-insight:hover .content .tags {
    top: 72px !important;
    right: 12.5%;
    bottom: auto;
}
.insights-page .insights .each-insight .content .tags a {
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
    text-decoration: underline;
    line-height: 25px;
    display: block;
    float: left;
    font-family: 'BwModelicaSS02-Regular';
}
.insights-page .insights .each-insight .content .author-and-date {
    text-align: right;
    position: absolute;
    top: auto;
    bottom: 20px;
    right: 40px;
    z-index: 9;
}
.insights-page .insights .each-insight .content .author-and-date a {
    font-size: 14px;
}
.insights-page .insights .each-insight .content .author-and-date .author-name {
    margin-bottom: 5px;
    text-transform: capitalize;
}
.insights-page .insights .each-insight:hover .content .author-and-date {
    top: 20px;
    right: 10%;
}
.insights-page .insights .each-insight:hover .content .author-and-date .author-name,
.insights-page .insights .each-insight:hover .content .author-and-date .insights-date {
    float: left;
}
.insights-page .insights .each-insight:hover .content .author-and-date .insights-date {
    margin-left: 100px;
}
/*.insights-page .insights .each-insight:hover .content .author-and-date .author-name a,
.insights-page .insights .each-insight:hover .content .author-and-date .insights-date {
    color: #1f3863;
    font-family: 'BwModelicaSS01-Medium';
}*/
.insights-page .insights .each-insight .content .author-and-date .insights-date {
    font-size: 14px;
    color: #fff;
    position: relative;
    font-family: 'BwModelicaSS02-Regular';
}
.insights-page .insights .each-insight .content .read-more {
    margin-top: 10px;
    opacity: 0;
}
.insights-page .insights .each-insight:hover .content .read-more {
    opacity: 1;
}
.insights-page .insights .each-insight .content .read-more a {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'BwModelicaSS02-Bold';
}
.insights-page .insights .each-insight .content .share-button {
    position: absolute;
    top: 30px;
    left: 60%;
    text-align: center;
    padding: 8px;
    display: block;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    width: 110px;
    opacity: 0;
    z-index: 2;
}
.insights-page .insights .each-insight .content .share-button img {
    width: 15px;
    margin-right: 5px;
}
.insights-page .insights .each-insight .content .share-container {
    position: absolute;
    top: 50px;
    right: 25%;
    text-align: center;
    z-index: 9;
    width: 110px;
    background: #fff;
    border: 1px solid #fff;
    padding: 8px;
    opacity: 1;
}
.insights-page .insights .each-insight .content .share-container img {
    width: 20px;
}
.insights-page .insights .each-insight .content .share-container a {
    
}
/*.insights-page .insights .each-insight .content .share-section:hover .share-container {
    opacity: 1;
}*/
.insights-page .insights .each-insight .content .share-container a + a {
    margin-left: 10px;
}
.insights-page .insights .heading {
    font-size: 18px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.insights-page .insights .divider {
    border-top: 1px solid #f15a24;
    width: 100%;
    margin: 50px 0px;
}
.insights-page.tags-page .insights .heading {
    font-size: 18px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.insights-page .static-nav {
    position: fixed;
    height: 150px;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-top: 140px;
    background: #fff;
    z-index: 11;
}
.insights-page .insights {
    margin-top: 150px;
}
.insights-page .filters-section {
    position: fixed;
    top: 172px;
    height: 320px;
    border: 1px solid #1f3863;
    padding: 30px;
    margin-bottom: 100px;
    display: none;
    z-index: 15;
    background: #fff;
    left: 135px;
    width: calc(100% - 330px);
}
.insights-page .filters-button {
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.insights-page .filters-button {
    position: relative;
    top: -45px;
    display: inline-block;
}
.insights-page .filters-open-button, .insights-page .filters-close-button {
}
.insights-page .filters-close-button {
    display: none;
    width: 40px;
}
.insights-page .filters-section .filter-container .content {
    
}
.insights-page .filters-section .filter-container .content .text {
    float: left;
    font-size: 16px;
    font-family: 'BwModelicaSS01-Medium';
}
.insights-page .filters-section .filter-container .content .clear-all a {
    background: #1f3863;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    padding: 12px 30px;
    font-family: 'BwModelicaSS02-Bold';
    cursor: pointer;
}
.insights-page .filters-section .filter-container .content .clear-all a:before {
    background: #f15a24;
}
.insights-page .filters-section .filter-container .tabs {
    margin-bottom: 50px;
}
.insights-page .filters-section .filter-container .tabs .each-tab {
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'BwModelicaSS02-Bold';
    cursor: pointer;
}
.insights-page .filters-section .filter-container .tabs .each-tab.active {
    color: #f15a24;
}
.insights-page .filters-section .filter-container .tabs .each-tab + .each-tab {
    margin-left: 80px;
}
.insights-page .filters-section .filter-container .each-list {
    display: none;
    margin-bottom: 40px;
}
.insights-page .filters-section .filter-container .each-list.subject-areas-list {
    display: block;
}
.insights-page .filters-section .filter-container .each-list ul {
    float: left;
    width: 100%;
}
.insights-page .filters-section .filter-container .each-list li {
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    width: 21.25%;
    height: 45px;
    float: left;
    margin-bottom: 20px;
    font-family: 'BwModelicaSS02-Regular';
    cursor: pointer;
}
.insights-page .filters-section .filter-container .each-list li img {
    opacity: 0;
    margin: 0px 0px 5px 5px;
}
.insights-page .filters-section .filter-container .each-list li.active img {
    opacity: 1;
}
.insights-page .filters-section .filter-container .each-list li + li {
    margin-left: 5%;
}
.insights-page .filters-section .filter-container .each-list li:nth-child(4n + 1) {
    margin-left: 0px;
}
.insights-page .filters-section .filter-container .each-list li.active {
    font-family: 'BwModelicaSS02-Bold';
}
.insights-page .filters-section .filter-container .go-button {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 50%;
    margin-left: -20px;
}
.insights-page .filters-section .filter-container .each-list .go-button a {
    padding: 10px 35px;
}

/*Insights page ends here*/


/*Single Insights page starts here*/

.single-insights-page {
    padding: 90px 0px;
}
.single-insights-page .banner-section {
    margin-bottom: 50px;
}
.single-insights-page .banner-section .image img {
    width: 100%;
}
.single-insights-page .heading {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'BwModelicaSS02-Bold';
    margin-bottom: 10px;
}
.single-insights-page .left {
    width: 70%;
    float: left;
}
.single-insights-page .left .insights-date, .single-insights-page .left .insights-author {
    font-family: 'BwModelicaSS01-Medium';
}
.single-insights-page .left .insights-author {
    margin-bottom: 10px;
}
.single-insights-page .left .content {
    margin-top: 20px;
}
.single-insights-page .left .content p + p {
    margin-top: 15px;
}
.single-insights-page .right {
    width: 25%;
    float: left;
    margin-left: 5%;
}
.single-insights-page .right a {
    color: #1f3863;
}
.single-insights-page .right a:hover {
    color: #f15a24;
}
.single-insights-page .right .tags {
    margin-bottom: 30px;
}
.single-insights-page .right .tags a {
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
    text-decoration: underline;
    line-height: 25px;
    display: block;
    float: left;
}
.single-insights-page .right .recent-insights ul {
    padding-left: 15px;
    transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -ms-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
}
.single-insights-page .right .recent-insights ul li {
    margin-bottom: 10px;
    transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -ms-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
}

/*Single Insights page ends here*/

/*Contact page starts here*/

.body.contact-page {
    padding-bottom: 60px;
}
.body.contact-page .address-container {
    width: calc(50% - 140px);
    float: left;
    font-size: 15px;
    background: #1f3863;
    color: #fff;
    font-family: 'BwModelicaSS01-Regular';
    padding-left: 140px;
}
.body.contact-page .map-container {
    width: 50%;
    float: left;
    cursor: pointer;
}
.body.contact-page .address-container .each-address + .each-address {
    margin-top: 50px;
}
.body.contact-page .address-container .each-address .phone-number {
    margin-top: 5px;
}
.body.contact-page .address-container .each-address a {
    color: #fff;
}
.body.contact-page .address-container .each-address a + a {
    margin-left: 15px;
}
.body.contact-page .address-container .each-address .address .text {
    margin-left: 30px;
}
/*.body.contact-page .address-container .each-address .address .icon, .body.contact-page .address-container .each-address .address .text {
    float: left;
}*/
.body.contact-page .address-container .each-address img {
    margin-right: 10px;
}
.body.contact-page .address-container .each-address .email img {
    width: 18px;
}
.body.contact-page .address-container .each-address .address .icon {
    cursor: pointer;
}
.body.contact-page .address-container .each-address .address .icon b {
    font-family: 'BwModelicaSS01-Bold';
}
.body.contact-page .map-container .map {
    display: none;
    position: relative;
}
.body.contact-page .map-container .map .layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.body.contact-page .map-container .map.ireland-map-container {
    display: block;
}
.body.contact-page .form-container {
    
}
.body.contact-page .form-container .text {
    font-size: 20px;
    margin: 50px 0px;
    line-height: 30px;
    font-family: 'BwModelicaSS01-Regular';
    display: none;
}
.body.contact-page .form-container .text.talk-to-us-text {
    display: block;
}
.body.contact-page .form-container .all-forms .form-tabs {
    float: left;
    width: 25%;
    margin: 25px 5% 0px 0px;
}
.body.contact-page .form-container .all-forms .form-tabs .links a {
    font-size: 18px;
    position: relative;
    padding: 15.5px 30px;
    text-transform: none;
    font-family: 'BwModelicaSS01-Bold';
}

.body.contact-page .form-container .all-forms .form-tabs .links a:before {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.body.contact-page .form-container .all-forms .form-tabs .links a:after {
    position: absolute;
    top: 0px;
    right: -25px;
    content: "";
    width: 0; 
    height: 0; 
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid #f15a24;
    /*display: none;*/
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.body.contact-page .form-container .all-forms .form-tabs .links a:hover:after, .body.contact-page .form-container .all-forms .form-tabs .links.active a:after {
    /*display: block;*/
    transform: scaleX(1);
}
.body.contact-page .form-container .all-forms .form-tabs .links.active a {
    background: #fff;
    color: #f15a24;
}
.body.contact-page .form-container .all-forms .form-tabs .links + .links {
    margin-top: 40px;
}
.body.contact-page .form-container .all-forms .form-tabs .follow-us {
    margin-top: 140px;
}
.body.contact-page .form-container .all-forms .form-tabs .follow-us .heading {
    font-size: 20px;
    text-transform: uppercase;
}
.body.contact-page .form-container .all-forms .form-tabs .follow-us .social-links {
    margin-top: 20px;
}
.body.contact-page .form-container .all-forms .form-tabs .follow-us .social-links a + a {
    margin-left: 30px;
}
.body.contact-page .form-container .all-forms .form {
    float: left;
    width: 70%;
    display: none;
}
.body.contact-page .form-container .all-forms .form .form-field .input-field {
    font-size: 14px;
    display: block;
    width: calc(100% - 20px);
    padding: 16px 0px 16px 20px;
    border: 1px solid #1f3863;
    font-family: 'BwModelicaSS01-Regular';
}
.body.contact-page .form-container .all-forms .form .half-width {
    width: 47%;
    float: left;
}
.body.contact-page .form-container .all-forms .form .half-width + .half-width {
    margin-left: 6%;
}
.body.contact-page .form-container .all-forms .form .form-field.message {
    font-size: 14px;
    overflow: hidden;
    width: calc(100% - 20px);
    padding: 14px 0px 14px 20px;
    border: 1px solid #1f3863;
    font-family: 'BwModelicaSS01-Regular';
    color: #1f3863;
    margin: 0px;
}
.body.contact-page .form-container .all-forms .form .submit {
    position: relative;
    float: right;
}
.body.contact-page .form-container .all-forms .form .submit .loader {
    position: absolute;
    top: auto;
    bottom: 40px;
    right: 56px;
    display: none;
}
.body.contact-page .form-container .all-forms .form .submit .submit-button {
    font-size: 16px;
    float: right;
    background: #f15a24;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 50px;
    border: none;
    margin: 20px 0px 40px 0px;
    cursor: pointer;
    font-family: 'BwModelicaSS02-Medium';
}
.body.contact-page .form-container .all-forms .form .submit .submit-button:hover {
    color: #fff !important;
}
.body.contact-page .form-container .all-forms .form.submit .submit-button:before {
    background: #fff;
}
.body.contact-page .form-container .all-forms .form .submit .submit-button:hover {
    color: #f15a24;
}
.body.contact-page .form-container .all-forms .form .form-field {
    margin-top: 25px;
}
.body.contact-page .form-container .all-forms .form .success {
    color: #f15a24;
}
.body.contact-page .form-container .all-forms .form .form-field .error-msg {
    font-size: 11px;
    color: #f15a24;
}

/*Contact page ends here*/

/*Footer starts here*/

.footer {
    
}
.footer .primary-footer {
    background: #1f3863;
    color: #fff;
    width: 100%;
    float: left;
    padding-top: 80px;
}
.footer .primary-footer .footer-logo {
    margin-bottom: 20px;
}
.footer .primary-footer .address-section {
    font-size: 14px;
    float: left;
    width: 27%;
    margin-right: 8%;
    font-family: 'BwModelicaSS01-Regular';
}
.footer .primary-footer .address-section b {
    font-family: 'BwModelicaSS01-Bold';
}
.footer .primary-footer .address-section a {
    color: #fff;
    display: block;
    margin-top: 10px;
    font-family: 'BwModelicaSS01-Regular';
}
.footer .primary-footer .address-section a img {
    margin-right: 10px;
}
.footer .primary-footer .address-section .email img {
    width: 18px;
}
.footer .primary-footer .address-section .each-address + .each-address {
    margin-top: 50px;
}
.footer .primary-footer .talk-to-us-section {
    width: 40%;
    float: left;
    margin-right: 5%;
}
.footer .primary-footer .social-media-section {
    margin-top: 115px;
}
.footer .primary-footer .social-media-section .each-icon {
    float: left;
}
.footer .primary-footer .social-media-section .each-icon + .each-icon {
    margin-left: 50px;
}
.footer .primary-footer .social-media-section .each-icon .link, .footer .primary-footer .social-media-section .each-icon .text {
    float: left;
}
.footer .primary-footer .social-media-section .each-icon.linkedin {
    margin-top: 40px;
}
.footer .primary-footer .social-media-section .each-icon .link a {
    color: #fff;
    font-size: 20px;
}
.footer .primary-footer .social-media-section .each-icon .text {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 100;
}
.footer .primary-footer .talk-to-us-section .heading {
    font-size: 22px;
    font-family: 'BwModelicaSS02-Bold';
    text-transform: uppercase;
}
.footer .primary-footer .talk-to-us-section .text {
    margin: 20px 0px;
}
.footer .primary-footer .talk-to-us-section .form-field .input-field {
    font-size: 14px;
    display: block;
    width: calc(100% - 20px);
    padding: 14px 0px 14px 20px;
    border: none;
    font-family: 'BwModelicaSS01-Regular';
}
.footer .primary-footer .talk-to-us-section .form-field.message {
    font-size: 14px;
    overflow: hidden;
    width: calc(100% - 20px);
    padding: 14px 0px 14px 20px;
    border: none;
    font-family: 'BwModelicaSS01-Regular';
    color: #1f3863;
}
.footer .primary-footer .talk-to-us-section .submit {
    position: relative;
    float: right;
}
.footer .primary-footer .talk-to-us-section .submit .loader {
    position: absolute;
    top: auto;
    bottom: 38px;
    right: 35px;
    display: none;
}
.footer .primary-footer .talk-to-us-section .submit .submit-button {
    font-size: 16px;
    float: right;
    background: #f15a24;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 30px;
    border: none;
    margin: 10px 0px 40px 0px;
    cursor: pointer;
    font-family: 'BwModelicaSS02-Medium';
}
.footer .primary-footer .talk-to-us-section .submit .submit-button:before {
    background: #fff;
}
.footer .primary-footer .talk-to-us-section .submit .submit-button:hover {
    color: #f15a24;
}
.footer .primary-footer .talk-to-us-section .form-field + .form-field {
    margin-top: 15px;
}
.footer .primary-footer .talk-to-us-section .form-field .error-msg {
    font-size: 11px;
    color: #fff;
}
.footer .primary-footer .social-media-section {
    width: 20%;
    float: left;
}
.footer .secondary-footer {
    background: #152645;
    padding: 22px 0px;
    -moz-box-shadow:    inset 0 0 2px #000;
   -webkit-box-shadow: inset 0 0 2px #000;
   box-shadow:         inset 0 0 2px #000;
}
.footer .secondary-footer p {
    font-size: 11px;
    color: #fff;
    float: left;
    margin-top: 5px;
}
.footer .secondary-footer .tiramisu-logo {
    float: right;
}
.footer .secondary-footer .tiramisu-logo img {
    width: 100px;
}

/*Footer ends here*/


@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: auto;
    }
    .header .menu-container .menu-items li a {
        font-size: 13px;
    }
    .header .menu-container .menu-items li + li {
        margin-left: 50px;
    }
    
    /*About page starts here*/
    
    .body.about-page .modes-of-management .container .modes {
        margin-top: 40px;
    }
    .body.about-page .modes-of-management .container .modes p {
        font-size: 12px;
    }
    .body.about-page .modes-of-management .team-container .form .form-field textarea {
        font-size: 12px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member.right .description {
        left: 230px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member.left .description {
        right: 230px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member .description {
        max-width: 310px;
    }
    
    /*About page starts here*/
    
    
    /*Capabilities page starts here*/
    
    .body.capabilities-page .introduction .text {
        margin-top: 20px;
    }
    .body.capabilities-page .engagement-lifecycle {
        padding: 0px 40px;
    }
    
    /*Capabilities page ends here*/
    
    
    /*Business Areas starts here*/
    
    .body.business-areas-page .modes-of-management .each-mode {
        width: 21%;
    }
    .body.business-areas-page .modes-of-management .each-mode p, .body.business-areas-page .modes-of-management .each-mode ul li {
        font-size: 11px;
    }
    
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: auto;
    }
    .header .menu-container .menu-items li a {
        font-size: 12px;
    }
    .header .menu-container .menu-items li + li {
        margin-left: 30px;
    }
    
    /*About page starts here*/
    
    .body.about-page .skills .content> .heading.vertical {
        transform: rotate(270deg) translateY(-50px);
        margin-top: 80px;
    }
    .body.about-page .skills .content .text {
        max-width: none;
        margin-top: 200px;
        padding-left: 70px;
    }
    .body.about-page .modes-of-management .each-mode {
        width: calc(50% - 41px);
        margin-bottom: 30px;
    }
    .body.about-page .modes-of-management .each-mode + .each-mode {
        border: none;
    }
    .body.about-page .modes-of-management .each-mode:nth-child(2n) {
        margin-left: 40px;
    }
    .body.about-page .modes-of-management .container> .heading {
        margin: 0px 0px 40px -107px;
    }
    .body.about-page .modes-of-management .team-container .form .form-field {
        width: calc(100% - 202px);
    }
    .body.about-page .modes-of-management .team-container .form .submit .links a {
        padding: 18px 10px;
    }
    .body.about-page .modes-of-management .team-container .form .form-field textarea {
        font-size: 13px;
        padding: 8px 0px 24px 25px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member {
        width: 30%;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member + .each-team-member {
        margin-left: 5%;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member:nth-child(3n + 1) {
        margin-left: 0px !important;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member .description {
        top: 270px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member.right .description {
        left: 0px
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member.left .description {
        right: 0px
    }
    
    /*About page ends here*/
    
    /*Capabilities page starts here*/
    
    .body.capabilities-page .introduction .image {
        width: 40%;
        margin-top: 30px;
    }
    .body.capabilities-page .introduction .text {
        width: 55%;
        margin-top: 0px;
    }
    .body.capabilities-page .engagement-lifecycle {
        padding: 0px 20px;
    }
    .body.capabilities-page .engagement-lifecycle .content-container .each-column {
        width: 30%;
    }
    .body.capabilities-page .applications .each-row .each-column {
        width: 50%;
        height: auto;
    }
    .body.capabilities-page .applications .each-row .each-column + .each-column {
        border: none;
    }
    .body.capabilities-page .applications> .heading {
        margin-left: -75px;
    }
    
    /*Capabilities page ends here*/
    
    /*Business Areas page starts here*/
    
    .body.business-areas-page .modes-of-management .each-mode {
        width: calc(50% - 30px);
        height: 500px;
    }
    .body.business-areas-page .modes-of-management .each-mode + .each-mode {
        border: none;
    }
    .body.business-areas-page .modes-of-management .links {
        margin-top: 0px;
    }
    .body.business-areas-page .modes-of-management .listing {
        padding: 0px 20px;
    }
    
    /*Business Areas page ends here*/
    
    /*Contact page starts here*/
    
    .body.contact-page .address-container {
        width: calc(50% - 100px);
        padding: 50px;
    }
    .body.contact-page .address-container .each-address .address .text {
        font-size: 13px;
    }
    
    /*Contact page ends here*/
    
    /*Footer section starts here*/
    
    .footer .primary-footer .social-media-section {
        margin-top: 0px;
    }
    
    /*Footer section ends here*/
}


@media (max-width: 767px) {
    
    .container {
        width: auto;
    }
    .hidden-xs {
        display: none;
    }
    .links a {
        padding: 8px 15px;
    }
    .body .section + .section {
        padding: 50px 0px;
    }
    
    /*Header starts here*/
    
    .header {
        height: auto;
    }
    .mobile-menu {
        display: block;
    }
    .header .mobile-menu svg {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 8px;
        z-index: 1;
        cursor: pointer;
        background: #f15a24;
    }
    .header .mobile-menu.menu-opened svg {
        /*right: 15px;*/
    }
    .header .mobile-menu svg path {
        stroke: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .header .mobile-menu svg path + path {
        margin-top: 3px;
    }
    .header .logo {
        height: 65px;
    }
    .header .logo img {
        margin-top: 12px;
    }
    .header .menu-container {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        border: none;
        height: 100%;
        overflow-y: auto;
        background: #1f3863;
        text-align: center;
        margin: 0px;
    }
    .header .menu-container .menu-items li {
        float: none;
    }
    .header .menu-container .menu-items li + li {
        margin: 30px 0px 0px 0px;
    }
    .header .menu-container .menu-items li a {
        color: #fff;
    }
    .header .menu-container .menu-items li a:before {
        display: none;
    }
    .header .menu-container .menu-items li a:hover, .header .menu-container .menu-items li.active a {
        color: #f15a24;
    }
    .header .menu-container .menu-items li.active a:after {
        display: none;
    }
    
    /*Home page starts here*/
    
    .body.home-page .banner .content {
        max-width: 300px;
        margin-left: -150px;
    }
    .body.home-page .banner .content .text {
        font-size: 14px;
        margin: 0px;
    }
    .body.home-page .banner .content .text .links {
        margin-top: 0px;
    }
    .body.home-page .banner .content .text .links a {
        font-size: 14px;
        padding: 5px 10px;
    }
    .body.home-page .our-talent .team-members-container .first-row {
        margin-left: 0px;
    }
    .body.home-page .insights .insights-listing .each-row .tags.column {
        width: auto;
    }
    .body.home-page .insights .insights-listing .each-row .insights.column, .body.home-page .insights .insights-listing .each-row .authors.column {
        width: 100%;
    }
    .body.home-page .insights .insights-listing .each-row.content-section .text {
        display: none;
    }
    .body.home-page .insights .insights-listing .each-row.content-section .heading a, .body.home-page .insights .insights-listing .each-row.content-section .each-insights.column .author-name a {
        font-size: 13px;
        color: #fff;
    }
    .body.home-page .insights .insights-listing .each-row.content-section .each-insights.column .each-tag a {
        font-size: 12px;
        color: #fff;
    }
    .body.home-page .insights .insights-listing .each-row.content-section .image {
        opacity: 1;
    }
    
    /*Home page neds here*/
    
    
    
    /* About page starts here*/
    
    .body.about-page .banner .content {
        bottom: 10px;
    }
    .body.about-page .banner .content .text {
        font-size: 13px;
        margin-top: 10px;
    }
    .body.about-page .introduction .content .text {
        font-size: 18px;
    }
    .body.about-page .introduction .content .text span {
        font-size: 16px;
        margin-top: 20px;
    }
    .body.about-page .skills .content, .body.about-page .skills .listing {
        width: 100%;
        margin-right: 0px;
    }
    .body.about-page .skills .listing {
        margin-top: 40px;
    }
    .body.about-page .skills .listing ul li .head {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .body.about-page .skills .content .text {
        max-width: 100%;
        margin-top: 110px;
    }
    .body.about-page .skills .content> .heading.vertical {
        transform: rotate(270deg) translateY(0px);
        margin-top: 100px;
    }
    .body.about-page .skills .content> .heading, .body.about-page .skills .content> .heading.vertical {
        font-size: 16px;
        text-align: center;
    }
    .body.about-page .modes-of-management .container> .heading {
        max-width: 265px;
        margin-left: -132px;
        font-size: 18px;
    }
    .body.about-page .modes-of-management .container> .text {
        font-size: 16px;
        margin: 30px 0px 30px 0px;
    }
    .body.about-page .modes-of-management .each-mode {
        width: calc(100% - 40px);
        padding: 0px 20px;
    }
    .body.about-page .modes-of-management .each-mode + .each-mode {
        border: none;
        margin-top: 20px;
    }
    .body.about-page .modes-of-management .each-mode .heading {
        margin: 20px 0px 0px 0px;
        height: auto;
    }
    .body.about-page .modes-of-management .each-mode p {
        font-size: 12px;
    }
    .body.about-page .modes-of-management .team-container .heading {
        max-width: 165px;
        margin-left: -82px;
    }
    .body.about-page .modes-of-management .team-container {
        margin-top: 70px;
    }
    .body.about-page .modes-of-management .team-container .text {
        font-size: 13px;
        padding: 0px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member .name {
        display: none;
    }
    .body.about-page .modes-of-management .team-container .form .submit .links a {
        font-size: 11px;
        padding: 10px;
    }
    .body.about-page .modes-of-management .team-container .form .form-field {
        width: 100%;
        padding: 10px 0px 20px 0px;
    }
    .body.about-page .modes-of-management .team-container .form .form-field textarea {
        height: 50px;
        padding: 10px 0px 0px 10px;
        font-size: 12px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member {
        width: 100%;
        margin-bottom: 50px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member + .each-team-member {
        margin-left: 0px;
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member .description {
        position: relative;
        top: 0px;
        left: 0px;
        width: auto;
        height: 270px;
        background: #1f3863;
        display: block; 
    }
    .body.about-page .modes-of-management .team-container .team .each-team-member.right .description {
        left: 0px;
    }
    
    /* About page ends here*/

    
    /*Capabilities page starts here*/
    
    .body.capabilities-page .introduction .image {
        width: 100%;
    }
    .body.capabilities-page .introduction {
        padding: 20px 0px;
    }
    .body.capabilities-page .introduction .text {
        width: calc(100% - 40px);
        font-size: 16px;
        padding: 0px 20px;
        margin-left: 0px;
    }
    .body.capabilities-page .benefits .each-row.tangible-benefits {
        padding-right: 20px;
    }
    .body.capabilities-page .benefits .each-row.intangible-benefits {
        padding-left: 20px
    }
    .body.capabilities-page .benefits .each-row {
        width: calc(100% - 40px);
        padding: 0px 20px;
    }
    .body.capabilities-page .benefits .each-row + .each-row {
        border: none;
        margin-top: 20px;
    }
    .body.capabilities-page .engagement-lifecycle .content-container .each-column {
        width: calc(100% - 20px);
    }
    .body.capabilities-page .engagement-lifecycle .content-container .each-column.first {
        margin-top: 0px;
    }
    .body.capabilities-page .engagement-lifecycle> .heading {
        margin-bottom: 30px;
    }
    .body.capabilities-page .engagement-lifecycle .content-container .each-column.second .image img {
        width: 170px;
    }
    .body.capabilities-page .engagement-lifecycle .content-container .each-column.second, .body.capabilities-page .engagement-lifecycle .content-container .each-column.third {
        margin-top: 20px;
    }
    .body.capabilities-page .applications> .text {
        padding: 0px 20px;
    }
    .body.capabilities-page .applications> .heading {
        margin-left: -70px;
    }
    .body.capabilities-page .applications .each-row {
        margin-top: 30px;
    }
    .body.capabilities-page .applications .each-row .each-column {
        width: 100%;
        height: auto;
    }
    .body.capabilities-page .applications .each-row .each-column + .each-column {
        border: none;
    }
    
    
    /*Capabilities page ends here*/
    
    
    /*Business Areas page starts here*/
    
    .body.business-areas-page .banner .content .text {
        font-size: 18px;
        line-height: 25px;
    }
    .body.business-areas-page .modes-of-management .container> .text {
        padding: 0px 20px;
        margin: 30px 0px;
    }
    .body.business-areas-page .modes-of-management .each-mode {
        width: calc(100% - 40px);
        height: auto;
        padding: 0px 20px;
    }
    .body.business-areas-page .modes-of-management .each-mode + .each-mode {
        border: none;
    }
    .body.business-areas-page .modes-of-management .each-mode .heading {
        height: auto;
    }
    .body.business-areas-page .modes-of-management .listing .industries, .body.business-areas-page .modes-of-management .listing .functions {
        width: 100%;
    }
    .body.business-areas-page .modes-of-management .listing .industries {
        padding-right: 0px;
        border: none;
    }
    .body.business-areas-page .modes-of-management .listing .functions {
        padding-left: 0px;
        margin-top: 50px;
    }
    .body.business-areas-page .modes-of-management .listing {
        margin-top: 50px;
        padding: 0px 20px;
    }
    .body.business-areas-page .modes-of-management .listing ul li + li {
        margin-top: 30px;
    }
    .body.business-areas-page .modes-of-management .listing .heading {
        margin-bottom: 30px;
    }
    
    /*Business Areas page ends here*/
    
    
    /*Contact page starts here*/
    
    .body.contact-page {
        padding-bottom: 20px;
    }
    .body.contact-page .address-container {
        width: calc(100% - 40px);
        padding: 10px 20px 30px 20px;
    }
    .body.contact-page .address-container .each-address .address .text {
        font-size: 13px;
    }
    .body.contact-page .address-container .each-address a {
        font-size: 13px;
    }
    .body.contact-page .map-container {
        width: 100%;
    }
    .body.contact-page .form-container .all-forms .form-tabs {
        width: 100%;
        margin: 25px 0px 0px 0px;
    }
    .body.contact-page .form-container .all-forms .form-tabs .links {
        float: left;
    }
    .body.contact-page .form-container .all-forms .form-tabs .links + .links {
        margin: 0px 0px 0px 40px;
    }
    .body.contact-page .form-container .all-forms .form-tabs .links a:after {
        border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid #f15a24;
        top: auto;
        bottom: -30px;
        left: 44%;
    }
    .body.contact-page .form-container .all-forms .form-tabs .follow-us {
        margin-top: 100px;
    }
    .body.contact-page .form-container .all-forms .form {
        width: 100%;
    }
    .body.contact-page .form-container .all-forms .form .submit {
        float: left;
    }
    
    /*Contact page ends here*/
    
    
    /*Footer starts here*/
    
    .footer .primary-footer .social-media-section .each-icon + .each-icon {
        margin-left: 20px;
    }
    .footer .primary-footer .address-section {
        width: 100%;
    }
    .footer .primary-footer .talk-to-us-section {
        width: 100%;
        margin: 50px 0px 0px 0px;
    }
    .footer .primary-footer .social-media-section {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .footer .primary-footer .social-media-section .each-icon.linkedin {
        margin: 0px 0px 0px 20px;
    }
    
    /*Footer ends here*/
}


@media (max-width: 480px) {

}