@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?83ab4p');
  src:  url('fonts/icomoon.eot?83ab4p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?83ab4p') format('truetype'),
    url('fonts/icomoon.woff?83ab4p') format('woff'),
    url('fonts/icomoon.svg?83ab4p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-form-inputbox:before {
  content: "\e970";
}
.icon-form-slider-left:before {
  content: "\e971";
}
.icon-arrow-down-bold-circle-o:before {
  content: "\e900";
}
.icon-arrow-down-bold-circle:before {
  content: "\e901";
}
.icon-arrow-down-bold:before {
  content: "\e902";
}
.icon-arrow-down-chevron:before {
  content: "\e903";
}
.icon-arrow-down-circle-o:before {
  content: "\e904";
}
.icon-arrow-down-circle:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-arrow-left-bold-circle-o:before {
  content: "\e907";
}
.icon-arrow-left-bold-circle:before {
  content: "\e908";
}
.icon-arrow-left-bold:before {
  content: "\e909";
}
.icon-arrow-left-chevron:before {
  content: "\e90a";
}
.icon-arrow-left-circle-o:before {
  content: "\e90b";
}
.icon-arrow-left-circle:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right-bold-circle-o:before {
  content: "\e90e";
}
.icon-arrow-right-bold-circle:before {
  content: "\e90f";
}
.icon-arrow-right-bold:before {
  content: "\e910";
}
.icon-arrow-right-chevron:before {
  content: "\e911";
}
.icon-arrow-right-circle-o:before {
  content: "\e912";
}
.icon-arrow-right-circle:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-arrow-up-bold-circle-o:before {
  content: "\e915";
}
.icon-arrow-up-bold-circle:before {
  content: "\e916";
}
.icon-arrow-up-bold:before {
  content: "\e917";
}
.icon-arrow-up-chevron:before {
  content: "\e918";
}
.icon-arrow-up-circle-o:before {
  content: "\e919";
}
.icon-arrow-up-circle:before {
  content: "\e91a";
}
.icon-arrow-up:before {
  content: "\e91b";
}
.icon-business-basket:before {
  content: "\e91c";
}
.icon-business-choice:before {
  content: "\e91d";
}
.icon-business-cowork:before {
  content: "\e91e";
}
.icon-business-credit-card:before {
  content: "\e91f";
}
.icon-business-exchange:before {
  content: "\e920";
}
.icon-business-exp-alt-2:before {
  content: "\e921";
}
.icon-business-exp-alt:before {
  content: "\e922";
}
.icon-business-exp:before {
  content: "\e923";
}
.icon-business-figure-o:before {
  content: "\e924";
}
.icon-business-figure:before {
  content: "\e925";
}
.icon-business-globe:before {
  content: "\e926";
}
.icon-business-lightbulb:before {
  content: "\e927";
}
.icon-business-money:before {
  content: "\e928";
}
.icon-business-phone:before {
  content: "\e929";
}
.icon-business-piggy-bank:before {
  content: "\e92a";
}
.icon-business-rocket:before {
  content: "\e92b";
}
.icon-business-sales-man:before {
  content: "\e92c";
}
.icon-business-sales-up:before {
  content: "\e92d";
}
.icon-business-sales-woman:before {
  content: "\e92e";
}
.icon-business-slide-alt:before {
  content: "\e92f";
}
.icon-business-slide:before {
  content: "\e930";
}
.icon-business-speaker:before {
  content: "\e931";
}
.icon-business-target-audience:before {
  content: "\e932";
}
.icon-business-trace:before {
  content: "\e933";
}
.icon-business-triangles:before {
  content: "\e934";
}
.icon-business-unbox:before {
  content: "\e935";
}
.icon-business-under-construction:before {
  content: "\e936";
}
.icon-business-work:before {
  content: "\e937";
}
.icon-loader-balls:before {
  content: "\e938";
}
.icon-loader-chevron-ring:before {
  content: "\e939";
}
.icon-loader-clock:before {
  content: "\e93a";
}
.icon-loader-comment:before {
  content: "\e93b";
}
.icon-loader-cycle:before {
  content: "\e93c";
}
.icon-loader-dash-arrow:before {
  content: "\e93d";
}
.icon-loader-dash:before {
  content: "\e93e";
}
.icon-loader-default:before {
  content: "\e93f";
}
.icon-loader-donut:before {
  content: "\e940";
}
.icon-loader-dot:before {
  content: "\e941";
}
.icon-loader-double-ring:before {
  content: "\e942";
}
.icon-loader-eclipse:before {
  content: "\e943";
}
.icon-loader-flag:before {
  content: "\e944";
}
.icon-loader-gear:before {
  content: "\e945";
}
.icon-loader-gps:before {
  content: "\e946";
}
.icon-loader-gradient:before {
  content: "\e947";
}
.icon-loader-hourglass:before {
  content: "\e948";
}
.icon-loader-infinity:before {
  content: "\e949";
}
.icon-loader-orbit:before {
  content: "\e94a";
}
.icon-loader-recycle:before {
  content: "\e94b";
}
.icon-loader-reload:before {
  content: "\e94c";
}
.icon-loader-ring:before {
  content: "\e94d";
}
.icon-loader-shutter:before {
  content: "\e94e";
}
.icon-loader-step:before {
  content: "\e94f";
}
.icon-loader-tails:before {
  content: "\e950";
}
.icon-loader-triple-organ:before {
  content: "\e951";
}
.icon-loader-triple-ring:before {
  content: "\e952";
}
.icon-loader-wheel:before {
  content: "\e953";
}
.icon-website-alarm:before {
  content: "\e954";
}
.icon-website-avatar:before {
  content: "\e955";
}
.icon-website-clock:before {
  content: "\e956";
}
.icon-website-close:before {
  content: "\e957";
}
.icon-website-command:before {
  content: "\e958";
}
.icon-website-console-invert:before {
  content: "\e959";
}
.icon-website-console:before {
  content: "\e95a";
}
.icon-website-fire:before {
  content: "\e95b";
}
.icon-website-gift:before {
  content: "\e95c";
}
.icon-website-heart-o:before {
  content: "\e95d";
}
.icon-website-heart:before {
  content: "\e95e";
}
.icon-website-help:before {
  content: "\e95f";
}
.icon-website-history:before {
  content: "\e960";
}
.icon-website-home:before {
  content: "\e961";
}
.icon-website-left-click:before {
  content: "\e962";
}
.icon-website-mail-invert:before {
  content: "\e963";
}
.icon-website-mail:before {
  content: "\e964";
}
.icon-website-multi-touch:before {
  content: "\e965";
}
.icon-website-pulse:before {
  content: "\e966";
}
.icon-website-right-click:before {
  content: "\e967";
}
.icon-website-send-mail-invert:before {
  content: "\e968";
}
.icon-website-send-mail:before {
  content: "\e969";
}
.icon-website-slide:before {
  content: "\e96a";
}
.icon-website-trash:before {
  content: "\e96b";
}
.icon-website-users:before {
  content: "\e96c";
}
.icon-website-warning-o:before {
  content: "\e96d";
}
.icon-website-warning:before {
  content: "\e96e";
}
.icon-website-wifi:before {
  content: "\e96f";
}

